<a href="https://colab.research.google.com/github/Manjarika940/ICP1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
##5.a.
user_input = list(input("Enter a string (e.g., 'python'): "))

# Delete characters at position 1 and 2 (for example)
del user_input[1:3]

# Reverse the list
user_input.reverse()

# Print the final string
result = ''.join(user_input)
print("Final string after deletion and reversal:", result)

Enter a string (e.g., 'python'): python
Final string after deletion and reversal: nohp

In [4]:
#b. Arithmetic operations
# Input two numbers from the user
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

# Perform arithmetic operations
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 2
Enter second number: 4
Addition: 6.0
Subtraction: -2.0
Multiplication: 8.0
Division: 0.5

In [5]:
##6.# Take input from user
sentence = input("Enter a sentence: ")

# Replace 'python' with 'pythons'
updated_sentence = sentence.replace("python", "pythons")

# Print the updated sentence
print("Updated sentence:", updated_sentence)

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

In [6]:
##7.# Get score from user
score = float(input("Enter your class score: "))

# Check the score range and print grade
if score >= 90:
    print("Your grade is: A")
elif score >= 80:
    print("Your grade is: B")
elif score >= 70:
    print("Your grade is: C")
elif score >= 60:
    print("Your grade is: D")
else:
    print("Your grade is: F")

Enter your class score: 85
Your grade is: B

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
##8. # Input list
x = [23, 'Python', 23.98]

# Create a list of the types of each element
types = [type(item) for item in x]

# Print the original list
print(x)

# Print the list of types
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [8]:
##9.# Initial data
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("Length of IT_companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Add multiple companies
IT_companies.update(['Tesla', 'Intel', 'Adobe'])
print("After adding multiple companies:", IT_companies)

# 4. Remove one company
IT_companies.remove('IBM')  # or discard('IBM')
print("After removing IBM:", IT_companies)

# 5. Difference between remove and discard
print("Difference:")
print("- remove() will raise an error if the item does not exist.")
print("- discard() will NOT raise an error if the item does not exist.")

# 6. Join A and B (Union)
print("Join A and B:", A.union(B))

# 7. A intersection B
print("A intersection B:", A.intersection(B))

# 8. Is A subset of B?
print("Is A subset of B:", A.issubset(B))

# 9. Are A and B disjoint?
print("Are A and B disjoint:", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# 11. Symmetric difference between A and B
print("Symmetric difference (A ^ B):", A.symmetric_difference(B))

# 12. Delete the sets completely
del IT_companies
del A
del B

# 13. Convert age list to set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Twitter', 'Oracle', 'IBM', 'Microsoft', 'Amazon', 'Apple', 'Facebook', 'Google'}
After adding multiple companies: {'Intel', 'Twitter', 'Amazon', 'Microsoft', 'IBM', 'Tesla', 'Adobe', 'Facebook', 'Google', 'Oracle', 'Apple'}
After removing IBM: {'Intel', 'Twitter', 'Amazon', 'Microsoft', 'Tesla', 'Adobe', 'Facebook', 'Google', 'Oracle', 'Apple'}
Difference:
- remove() will raise an error if the item does not exist.
- discard() will NOT raise an error if the item does not exist.
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference (A ^ B): {27, 28}
Length of age list: 8
Length of age set: 5